<div class="container-fluid">
	<div class="row">
		<div class="col text-center">
			<h3>Id Toko : <%= @toko.id %></h3><br>
		    <h3>Nama Toko : <%= @toko.nama_toko %></h3><br>
			<h3>Deskripsi Toko : <%= @toko.deskripsi %></h3><br>
			<h3>Toko Img : <%= @toko.toko_images %></h3><br>

		</div>
	</div>
</div>